body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  
}
button:hover,
button:focus {
    background-color: #2196F3;
    color:#FFFFFF;
    cursor: pointer;
}
a {
    color:#212121;
    text-decoration: none;
}
a:hover,
a:focus {
color: #2196F3;
}
:root {
    --color-text: #000;
    --background-color: #2F303A;
    --background-color-two:#F5F4FA;
    
}
.logo{
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.2;
    color:#000000;

}
.logo:hover,
.logo:focus {
color:#000000;
}
.logo2 {
   
    color: #2196F3;
}
.menu-style {
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    
    
}
.menu-contact-style {
    color:#757575;
    
}
.footer-style {
    font-size: 14px;
    line-height: 1.7 ;
    color: #FFFFFF;
}
.footer-contact-style {
    color:#FFFFFF99;
}
.footer-background,
.background-banner {
    background-color: var(--background-color);
}
.our-team {
    background-color: var(--background-color-two);
}